.Login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBox{
    margin-top: 3rem;
    width: 300px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.LoginHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
}
.inputs {
    padding: 20px;
}
.email{
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    margin-bottom: 20px;
}
.password{
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
}
.submitButton{
    width: 100px;
    height: 30px;
    background-color: #284B63;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton:hover{
    background-color: #4D2F7C;
}
