.parking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    height: 100vh;
}

.left-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    padding: 1.5em 3em;
    color: var(--indigo);
}

.menu-bar > h4:hover {
    cursor: pointer;
}


.parking hr {
    border-color: rgb(0, 0, 0, .2);
}

.lots-container {
    overflow-x: hidden;
    overflow-y: auto;
}